<h1>Shoe Brands</h1>
<h4><a href="/brands/new"><button type="button" name="button">Add a new Shoe Brand</button></a></h4>
<h4><a href="/"><button type="button" name="button">Return Home</button></a></h4>
<form action="/brands/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
 <button type="submit" name="button">Delete all Shoe Brands</button>
</form>
<hr />
@if (Model != null)
{
  <ul>
    @foreach (var brand in Model)
    {
      <li><a href="/brands/@brand.GetId()">@brand.GetBrandName()</a> | | <a href="/brands/edit/@brand.GetId()"><button type="button" name="button">Edit</button></a> | <a href="/brands/delete/@brand.GetId()"><button type="button" name="button">Delete</button></a></li>
    }
  </ul>
}
else
{
  <h3>No brands have been added yet</h3>
}
