<h1>Shoe Stores and the Brands they Carry</h1>
<h4>
<a href="/brands"><button type="button" name="button">List of Shoe Brands</button></a>
<br>
<br>
<a href="/stores"><button type="button" name="button">List of Shoe Stores</button></a>
</h4>
<hr />
