<h1>Edit @Model.GetStoreName()</h1>
<h4>
  <a href="/brands">Return Home</a>
  <a href="/stores">Return to Stores Page</a>
</h4>
<hr />
<form action="/stores/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="store-id" type="hidden" value="@Model.GetId()">
  <label for="store-name">Name</label>
  <input id="store-name" name="store-name" type="text">
  <br>
  <button type="submit">Submit</button>
</form>
