<h1>Add new Shoe Store</h1>
<hr />
<form class="" action="/stores/new" method="post">
  <label for="name">Store Name:</label>
  <input type="text" name="name" id="name">
  <button type="submit" name="button">Add</button>
</form>
