<h1>Success</h1>
<h4>
  <a href="/"><button type="button" name="button">Return Home</button></a>
  <br>
  <br>
  <a href="/brands"><button type="button" name="button">View Shoe Brands Page</button></a>
  <br>
  <br>
  <a href="/stores"><button type="button" name="button">View Shoe Stores Page</button></a>
</h4>
<hr />
